.mo_testimonialslider_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    padding: 50px 15px;
    border-radius: 4px;
}

.mo_testimonialslider_card svg{
    fill: #00C4ED;
}

.mo_testimonialslider_card p{
    padding: 30px 0;
    margin: 0;
}

.mo_testimonialslider_card h5{
    margin: 7px 0 0 0;
}

.mo_testimonialslider_card_img img{
    height: 42px;
    width: 42px;
    border: 1px solid black;
    border-radius: 50%;
}

.carousel-indicators {
    margin-bottom: -2rem;
}